@font-face {
    font-family: Vazir-Medium;
    src: url(../font/Vazir-Light.eot) format("eot"),
    url(../font/Vazir-Light.woff) format("woff"),
    url(../font/Vazir-Light.woff2) format("woff2");
    font-style: normal;
}
@font-face {
    font-family: vazir-bold;
    src: url(../font/Vazir-Bold.woff) format("woff"),
    url(../font/Vazir-Bold.woff2) format("woff2");
    font-weight: bolder;
}
*,body{
    font-family:Vazir-Medium ;
}
.sky{
    background-image: url(../img/Background.b7758bbcdb5bd16e.svg);
    background-size: cover;
    background-position: bottom;
}
.car{
    background-image: url(../img/Cars\ \(1\).svg);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
}
.cloud-1, .cloud-2{
    background-repeat: repeat-x;
    width: 500%;
    height: 200px;
    position: absolute;
}
@keyframes cloud{
    0%{transform: translateY(0px);}
    100%{transform: translateX(-800px);}
}
.cloud-1{
    background-image: url(../img/Cloud1.49a55f03ce9258d5.svg),
    url(../img/Cloud2.24f211eb4625bba1.svg);
    top:0px;
    animation: cloud 40s linear infinite;
}
.cloud-2{
    background-image: url(../img/Cloud2.24f211eb4625bba1.svg);
    top: 120px;
    animation: cloud 60s linear infinite;
}
.title{
    font-family: vazir-bold;
}
.bi{
    top: 300px;
}








/* public/css/style.css */

.post-list {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.post-item {
    padding: 15px;
    border-bottom: 1px solid #ccc;
}

.post-item:last-child {
    border-bottom: none;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    color: #333;
}

p {
    font-size: 16px;
    line-height: 1.6;
}
